body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  text-align: center;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: #3498db;
  display: block;
  padding: 0.5em;
  border-radius: 8px;
  background-color: #ecf0f1;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #bdc3c7;
}

section {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

section h3 {
  margin-bottom: 0.5em;
  color: #3498db;
}

section p {
  color: #333;
}

section.hidden {
  display: none;
}

footer {
  background-color: #3498db;
  color: #fff;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  margin-top: 16px;
}

/* Add styles for the scroll and home buttons */
.scroll-button,
.home-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.scroll-button:hover,
.home-button:hover {
  background-color: #2980b9;
}

/* my css */
.motimportant {
  color: blue;
}

.motr {
  color: red;
}

.bold {
  font-weight: bold;
}

.nomenc {
  font-weight: bold;
  color: greenyellow;
}
